<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memwa Edit Question</title>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
    <!-- icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
      <!-- stylesheet link -->
      <link rel="stylesheet" href="/style.css">
</head>
<body>
    <section class="question-container">
        <h2>Edit Question Content</h2>
        <section class='question'>
            <ul class="question-list">
                <% let index = 1; %>
                <% memwaQuestions.forEach(question => {%>
                    <% if (question._id==idQuestion) { %>
                        <li class="question-list-item">
                            <form action= "/edit/<%= question._id %>"method = "POST">
                                <textarea rows="2" cols="80" name="name"><%=question.name %></textarea>
                                <input type="text" name="tag" value="<%=question.tag %>">
                                <button type="submit" class="confirm">Confirm</button>
                                <button type="cancel" <a href="/" class="cancel">Cancel </a></button>
                            </form>
                        </li>
                        <% } else { %>
                            <!-- code commented out to not display every question in the database while one is being edited, uncomment to display all questions -->
                                    <!-- <li class="question-list-item">
                                        <div class="question-list-item-title">
                                            <%= index %>. <%= question.name %>
                                        </div>
                                        <div class="question-list-item-content">
                                            <%= question.tag %>
                                        </div>
                                        <a href="/edit/<%=question._id %>" class="edit"><span class='fas fa-edit'></span></a>
                                        <a href="/remove/<%=question._id %>" class="remove"><span class='fas fa-times'></span></a> 
                                    </li> -->
                                    <% index++; %>
                                <% } %>
                                <% }) %>
                                <!-- <p>Total questions: <%= memwaQuestions.length %></p> -->
                            </ul> 
                        
            </section>
        
    </section>

</body>
</html>