<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memwa Questions App</title>
    <link rel="icon" type="image/svg+xml" sizes="32x32" href="/logo.svg"/>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
    <!-- icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
      <!-- stylesheet link -->
      <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header class="header">
      
        <img class="logo" src="/logo.svg" alt="MEMWA ">
        <div class="col-lg-auto me-lg-auto justify-content-right">
            <!-- <button><a href="/login" type="button" class="btn btn-outline-light me-2"> Login </a></button> -->
            <button>
                <% if (user) { %>
                <a href="/profile" type="button" class="btn btn-outline-light me-2">Profile</a>
                <% } else { %>
                <a href="/login" type="button" class="btn btn-outline-light me-2 ">Login</a>
                <% } %>
            </button>
            <!-- <button><a href="/signup" type="button" class="btn btn-warning"> Sign-up </a></button> -->
            <% if (!user) { %>
                <button>
                  <a href="/signup" type="button">Signup</a>
                </button>
            <% } %>
        </div>
        <h2>Memwa Questions Database</h2>
        <p>Total questions: <%= memwaQuestions.length %></p>
    </header>
    <section class="question-container">
        <div class="search"> 
            <form action="/search" method="GET">
                <input type="text" name="query" placeholder="Search...">
                <button type="submit">Search</button>
            </form>   
        </div>
        
        <div class='question'>
            <ul class="question-list">
                <% let index = 1; %>
                <% memwaQuestions.forEach(question => {%>
                    <li id="question-<%= question.id %>"  class="question-list-item">
                    
                        <div class="number question-list-item-title">
                            <%= index %>. <%= question.name %>
                        </div>
                        <div class="question-list-item-content">
                            <%= question.tag %>
                            <% if (user) { %>
                            <a href="/edit/<%=question._id %>" class="edit"><span class='fas fa-edit'></span> </a>
                            <a href="/remove/<%=question._id %>" class="remove" onclick="return confirm('Are you sure you want to delete this question?');"><span class='fas fa-times'></span></a>
                            <% } %>
                        </div>
                    </li>
                    <% index++; %>
                <% }) %>
            </ul>
        </div>
        <% if (user) { %>
        <div>
            <form action="/" method="POST" class="question-header">
                <textarea rows="2" cols="80" name="name" placeholder="question"></textarea>
                <input type="text" name="tag" placeholder="tag">
                <button type="submit"><span class='fas fa-plus'></span>Add Question</button>
            </form>
        </div>
        <% } %>
       
    </section>

</body>
</html>